[submodule "FinNLP"]
	path = FinNLP
	url = https://github.com/AI4Finance-Foundation/FinNLP.git
[submodule "external/edgartools"]
	path = external/edgartools
	url = https://github.com/prajoria/edgartools.git
